on:
  push:
    tags:
      - "v*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  prep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get Version
        id: get_version
        run: |
          version_git=$(echo "$GITHUB_REF" | sed -e 's/refs\/tags\///')
          version_cargo="v$(cargo read-manifest | jq -r '.version')"
          if [ "$version_git" != "$version_cargo" ]; then
              echo "git != cargo: $version_git != $version_cargo" >&2
              exit 1
          fi
          echo "git_version=$version_git" >> $GITHUB_OUTPUT
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: false
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      git_version: ${{ steps.get_version.outputs.git_version }}

  build-musl:
    needs: prep
    runs-on: ubuntu-latest
    container: alpine:3.18
    steps:
      - name: Prepare
        run: |
          apk add git ca-certificates rust cargo clang-dev acl-static musl-dev linux-headers make pandoc
      - uses: actions/checkout@v2
      - name: Build
        run: |
          RUSTFLAGS='-C target-feature=+crt-static -L /lib -l static=acl' \
              cargo build --target x86_64-alpine-linux-musl --release
          make -C man
      - name: Build tarball
        run: |
          ln -f target/x86_64-alpine-linux-musl/release/laurel target/x86_64-alpine-linux-musl/release/laurel2audit .
          tar -czf laurel.tar.gz laurel laurel2audit *.md man/
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prep.outputs.upload_url }}
          asset_path: laurel.tar.gz
          asset_name: laurel-${{ needs.prep.outputs.git_version }}-x86_64-musl.tar.gz
          asset_content_type: application/tar
      # Use tar to keep permissions
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: laurel
          path: laurel.tar.gz

  build-glibc:
    needs: prep
    runs-on: ubuntu-latest
    container: centos:7
    steps:
      - name: Prepare
        run: |
          sed -i \
              -e 's,^#baseurl=http://mirror.centos.org/centos/,baseurl=https://vault.centos.org/centos/,g' \
              -e 's,^mirrorlist=http://mirrorlist.centos.org/,#&1,' \
              /etc/yum.repos.d/*.repo
          yum -q -y update
          yum -q -y install centos-release-scl
          yum -q -y install gcc llvm-toolset-7-clang file libacl-devel
          yum -q -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
          yum -q -y install make pandoc
      - name: Install Rust toolchain (stable)
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: actions/checkout@v2
      - name: Build
        run: |
          scl enable llvm-toolset-7 "cargo build --release"
          make -C man
      - name: Determine minimum GNU libc version
        run: |
          objdump -t target/release/laurel | sed -ne '/@GLIBC_/{s/^.*@GLIBC_//;p;}' | sort -uV
          min_glibc_version=$(objdump -t target/release/laurel \
              | sed -ne '/@GLIBC_/{s/^.*@GLIBC_//;p;}' \
              | sort -uV \
              | tail -n1)
          echo Minimum GNU libc version: $min_glibc_version
      - name: Build tarball
        run: |
          ln -f target/release/laurel target/release/laurel2audit .
          tar -czf laurel.tar.gz laurel laurel2audit *.md man/
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prep.outputs.upload_url }}
          asset_path: laurel.tar.gz
          asset_name: laurel-${{ needs.prep.outputs.git_version }}-x86_64-glibc.tar.gz
          asset_content_type: application/tar

  build-container-image:
    needs: build-musl
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download a Build Artifact
        uses: actions/download-artifact@v2.1.1
        with:
          name: laurel
          path: .

      # use tar to keep permissions
      - name: Unpack Build Artifact
        run: tar -xzf laurel.tar.gz

      - name: Edit configuration
        run: |
          sed -e 's#^input = .*#input = "unix:/var/run/audispd_events"#' etc/laurel/config.toml

      # Install the cosign tool except on PR
      # https://github.com/sigstore/cosign-installer
      - name: Install cosign
        if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@v2

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Sign the resulting Docker image digest except on PRs.
      # This will only write to the public Rekor transparency log when the Docker
      # repository is public to avoid leaking data.  If you would like to publish
      # transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        if: ${{ github.event_name != 'pull_request' }}
        env:
          COSIGN_EXPERIMENTAL: "true"
        # This step uses the identity token to provision an ephemeral certificate
        # against the sigstore community Fulcio instance.
        run: echo "${{ steps.meta.outputs.tags }}" | xargs -I {} cosign sign {}@${{ steps.build-and-push.outputs.digest }}
