on:
  push:
    paths:
      - contrib/selinux/*
      - .github/workflows/selinux.yml
  pull_request:
    paths:
      - contrib/selinux/*
      - .github/workflows/selinux.yml

jobs:
  build-el8:
    runs-on: ubuntu-latest
    container: rockylinux:8
    steps:
      - name: Prepare
        run: |
          dnf install -y selinux-policy-devel findutils
      - uses: actions/checkout@v2
      - name: Build
        run: |
          make -C contrib/selinux AUDITD_VERSIONS=3
      - name: Archive policy
        uses: actions/upload-artifact@v3
        with:
          name: selinux-el8
          path: contrib/selinux/laurel.pp

  build-el9:
    runs-on: ubuntu-latest
    container: rockylinux:9
    steps:
      - name: Prepare
        run: |
          dnf install -y selinux-policy-devel findutils
      - uses: actions/checkout@v2
      - name: Build
        run: |
          make -C contrib/selinux AUDITD_VERSIONS=3
      - name: Archive policy
        uses: actions/upload-artifact@v3
        with:
          name: selinux-el9
          path: contrib/selinux/laurel.pp

  build-al2023:
    runs-on: ubuntu-latest
    container: amazonlinux:2023
    steps:
      - name: Prepare
        run: |
          yum install -y selinux-policy-devel findutils tar
      - uses: actions/checkout@v2
      - name: Build
        run: |
          make -C contrib/selinux AUDITD_VERSIONS=3
      - name: Archive policy
        uses: actions/upload-artifact@v3
        with:
          name: selinux-al2023
          path: contrib/selinux/laurel.pp

  build-bookworm:
    runs-on: ubuntu-latest
    container: debian:bookworm-slim
    steps:
      - name: Prepare
        run: |
          apt-get -qqy update
          apt-get -qqy install selinux-policy-dev
      - uses: actions/checkout@v2
      - name: Build
        run: |
          make -C contrib/selinux AUDITD_VERSIONS=3
      - name: Archive policy
        uses: actions/upload-artifact@v3
        with:
          name: selinux-bookworm
          path: contrib/selinux/laurel.pp

  build-jammy:
    runs-on: ubuntu-latest
    container: ubuntu:jammy
    steps:
      - name: Prepare
        run: |
          apt-get -qqy update
          apt-get -qqy install selinux-policy-dev
      - uses: actions/checkout@v2
      - name: Build
        run: |
          make -C contrib/selinux AUDITD_VERSIONS=3
      - name: Archive policy
        uses: actions/upload-artifact@v3
        with:
          name: selinux-jammy
          path: contrib/selinux/laurel.pp
